
@font-face {
  font-family: lato-regular;
  src: url(fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(fonts/Lato-Light.ttf);
}



* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: lato, lato-regular, verdana, sans-sherif;
}

body {
  font-family: sans-serif;
	display: flex;
	flex-direction: column;
	background: #ECEFF1;	
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #fff;
  padding: 10px 0;
}

header #logo {
	height: 150px;
	padding: 20px;
}

header p {
	font-family: lato, lato-light, verdana, sans-sherif;
  font-weight: 300;
  font-size: 24px;
}

navigation {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: #CFD8DC;
  box-shadow: 0px 5px 10px -5px #263238;
}

navigation a, navigation a:hover {
	position: relative;
  text-decoration: none;
	font-weight: bold;
  font-size: 16px;
	color: #263238;
  padding: 15px 20px;
  background: #CFD8DC;
	transition: background 1s, text-shadow .5s;
}


navigation a.current:before {
  content: "";
	position: absolute;
	top: calc(100% - 5px);
	height: 5px;
	width: 0%;
	left: 50%;
	background: #FFF;
	width: 100%;
	left: 0%;
}


navigation a:after {
  content: "";
	position: absolute;
	top: calc(100% - 5px);
	height: 5px;
	width: 0%;
	left: 50%;
	background: #40C4FF;
	transition: width .5s, left .5s
}

navigation a:hover:after,
navigation a:focus:after,
navigation a:active:after {
	width: 100%;
	left: 0%;
}

navigation a:hover,
navigation a:focus,
navigation a:active {
  background: #80D8FF;
  text-shadow: 1px 1px 1px #E1F5FE, -1px -1px 1px #E1F5FE;
}

content {
  padding: 20px;
	display: flex;
  flex-direction: column;
}


nav {
    border-bottom: 1px solid #B0BEC5;
}

nav ul {
    display: flex;
    flex-direction: row;
}


introblocks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}

introblocks block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #fff;
    padding: 20px 10px;
    width: 15%;
    box-shadow: 0px 20px 20px -20px #777;
    border-radius: 5px;
    padding: 30px 0px;
}

introblocks img {
	width: 20%;
	height: 70px;
	padding: 0 0 10px;
}

introblocks p {
  font-family: lato, lato-light, verdana, sans-sherif;
  font-weight: 300;
  font-size: 18px;
}


introblocks p:first-of-type {
  font-weight: 500;
  font-size: 24px;
}

intropres {
	padding: 20px;
}

intropres pres {
	padding: 10px;
}

intropres pres ul {
	padding: 10px;
}


.tablink {
	padding: 10px 30px;
  border-bottom: 2px solid transparent;
	background: rgba(255,255,255,0);
	color: #263238;
	font-variant: petite-caps;
	font-size: 20px;
	transition: background 1s, color .5s;
}

.tablink.active {
    border-bottom: 2px solid #00BFA5;
		color: #00695C;
}

.tablink:hover {
	cursor: pointer;
	background: #E0F7FA;
}

.tab {
	display:none;
	padding: 20px;
}

.tab:first-child {
	display:block;
}

article a {
    text-decoration: none;
    font-weight: 600;
}


article h3 {
	padding: 20px 0;
  font-size: 40px;
  font-weight: 300;
  font-variant: small-caps;
}

article p {
	padding: 10px 0;
}

article ol {
	padding: 10px 0;
	counter-reset: article-counter;
}

article ol li {
  counter-increment: article-counter;
	padding: 5px 20px;
}

article ol li::before {
  content: counter(article-counter) ". ";
  font-weight: bold;
}

article ul li {
	padding: 5px 20px;
}

article ul > li::before {
  content: "• ";
}

article ul ul {
    padding: 0 20px;
}

article ul ul li:before {
	content:"◦ ";
}

article p img {
    max-width: 80%;
    margin: 0 10%;
}

gallery {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

gallery > div {
	display: flex;
	flex-direction: row;
  justify-content: space-around;
}

gallery h4 {
    text-align: center;
    font-weight: bold;
}

gallery img {
	display: none;
	max-width: 98%;
  padding: 10px 1%;
}

gallery img.active {
	display: block;
}

slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

slider > span {
	height: 100%;
	padding: 15px;
	background: #01579b;
	border-radius: 10px;
	color: #fff;
	font-family: Lato;
	font-weight: 700;
}

slider > div {
    width: 80%;
		background: #0091EA;
    padding: 0 1%;
}


slider > div > div {
	width: 0%;
	background: #81D4FA;
	padding: 0 2%;
}

slider #pics_slider {
	width: 100%;
}

slider datalist {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}

slider option {
}

article table { 
  width: 100%; 
  border-collapse: collapse; 
}

article thead th:nth-of-type(2) {
  background: #01579B;
	border: 1px solid #78909C;
	color: white; 
  font-weight: bold; 
}

article tbody tr:nth-of-type(3) td:nth-of-type(1),
article tbody tr:nth-of-type(4) td:nth-of-type(1),
article tbody tr:nth-of-type(5) td:nth-of-type(1),
article tbody tr:nth-of-type(6) td:nth-of-type(1) { 
  background: #CFD8DC;
	border: 1px solid #B0BEC5;
}

article tbody tr:nth-of-type(1) td:nth-of-type(2),
article tbody tr:nth-of-type(2) td:nth-of-type(1),
article tbody tr:nth-of-type(3) td:nth-of-type(2),
article tbody tr:nth-of-type(4) td:nth-of-type(2),
article tbody tr:nth-of-type(5) td:nth-of-type(2),
article tbody tr:nth-of-type(6) td:nth-of-type(2),
article tbody tr:nth-of-type(2) td:nth-of-type(2),
article tbody tr:nth-of-type(3) td:nth-of-type(3),
article tbody tr:nth-of-type(4) td:nth-of-type(3),
article tbody tr:nth-of-type(5) td:nth-of-type(3),
article tbody tr:nth-of-type(6) td:nth-of-type(3) {
  background: #B3E5FC;
	border: 1px solid #B0BEC5;
}

article tbody tr:nth-of-type(1) td:nth-of-type(3),
article tbody tr:nth-of-type(2) td:nth-of-type(3),
article tbody tr:nth-of-type(3) td:nth-of-type(4),
article tbody tr:nth-of-type(4) td:nth-of-type(4),
article tbody tr:nth-of-type(5) td:nth-of-type(4),
article tbody tr:nth-of-type(6) td:nth-of-type(4),
article tbody tr:nth-of-type(2) td:nth-of-type(4),
article tbody tr:nth-of-type(3) td:nth-of-type(5),
article tbody tr:nth-of-type(4) td:nth-of-type(5),
article tbody tr:nth-of-type(5) td:nth-of-type(5),
article tbody tr:nth-of-type(6) td:nth-of-type(5) {
  background: #29B6F6;
	border: 1px solid #78909C;
}

article tbody tr:nth-of-type(1) td:nth-of-type(4),
article tbody tr:nth-of-type(2) td:nth-of-type(5),
article tbody tr:nth-of-type(3) td:nth-of-type(6),
article tbody tr:nth-of-type(4) td:nth-of-type(6),
article tbody tr:nth-of-type(5) td:nth-of-type(6),
article tbody tr:nth-of-type(6) td:nth-of-type(6),
article tbody tr:nth-of-type(2) td:nth-of-type(6),
article tbody tr:nth-of-type(3) td:nth-of-type(7),
article tbody tr:nth-of-type(4) td:nth-of-type(7),
article tbody tr:nth-of-type(5) td:nth-of-type(7),
article tbody tr:nth-of-type(6) td:nth-of-type(7) {
  background: #B0BEC5;
	border: 1px solid #78909C;
}

article tbody tr:nth-of-type(1) td:nth-of-type(1) {
  background: none;
  border: 1px solid #CFD8DC;
}

article td, article th { 
  padding: 6px;
  border: 1px solid #CFD8DC;
  text-align: left; 
}


manpage li {
	list-style: inside;
}

manpage h1, manpage h2, manpage h3, manpage h4, manpage h5, manpage h6 {
	display: inline-block;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0;
    border-top: 2px solid #CCC;
}

footer a {
    text-decoration: none;
    font-weight: 600;
}

foocontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
		align-items: center;
    padding: 30px;
}

fooblock {
	text-align: center
}

fooright {
	text-align: right;
}

footer img {
	max-height: 100px;
	
}

footnote {
  text-align: center;
	padding: 20px 0;
}


